/* waybar.css */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(51, 51, 51, 1);
    color: #d1ccc3;
    border-bottom: 1px solid rgba(210, 203, 189, 0.8);
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: #d1ccc3;
    border: 1px solid rgba(210, 203, 189, 0.3);
    margin: 2px 2px;
}

#workspaces button.focused {
    background: #505048;
    border: 1px solid rgba(210, 203, 189, 0.6);
}

#clock, #battery, #network, #pulseaudio, #tray {
    padding: 0 12px;
    margin: 2px 0;
    border: 1px solid rgba(210, 203, 189, 0.4);
}
